:root {
  --primary-color: #37353e;
  --secondary-color: #44444e;
  --accent-color: #d3dad9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

/* Body text */
body,
p,
li,
a {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.6;
}

#course-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  text-align: center;
  color: white;
  padding: 20px;
  font-size: 20px;
  background: var(--primary-color);
  display: block;
}

header nav {
  background-color: var(--secondary-color);
  display: flex;
}

nav a {
  flex: 1;
  text-align: center;
  padding: 10px;
  border: 1px solid #ccc;
  text-decoration: none;
  color: white;
}

nav a:hover {
  text-decoration: overline;
}

main {
  display: grid;
  grid-template: 1fr 2fr / 1fr 1fr 1fr 1fr;
  padding: 20px;
  gap: 20px;
}

main h1 {
  color: var(--primary-color);
  text-align: center;
}

.about-me-section {
  grid-row: 3/4;
  grid-column: 1/5;
}

.resources-section {
  grid-row: 3/4;
  grid-column: 5/6;
}

.card {
  border: solid;
}

section img {
  display: block;
  margin: 0 auto;
  max-width: 150px;
  max-height: 150px;
  object-fit: cover; 
  border-radius: 50%;
}

section h2 {
  padding: 10px;
  background-color: var(--accent-color);
  text-align: center;
}

section p {
  margin: 20px 0;
}


.card-content {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 10px 40px
}

footer {
  padding: 20px 0;
  text-align: center;
  background-color: var(--primary-color);
  color: white;
}
