:root {
  --ph-blue: #0038a8;
  --ph-red: #ce1126;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 700;
}

p,
table {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  line-height: 1.6;
}

header {
  background-color: var(--ph-blue);
  text-align: center;
  padding: 40px;
  color: white;
  border-bottom: 10px solid var(--ph-red);
  font-size: 1.5rem;
}

.hero picture,
.hero img {
  display: block;
  width: 100%;
  height: auto;
}

main {
  position: relative;
}

.data-card,
.weather-card {
  position: absolute;
  padding: 40px;
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

.data-card {
  top: 20px;
  left: 20px;
}

.weather-card {
  bottom: 20px;
  right: 20px;
}

.icon::before {
  content: "⛅";
}

td:nth-child(odd) {
  text-align: right;
}

td:nth-child(odd)::after {
  content: " ";
}

.card-header {
  background-color: rgba(206, 17, 38, 0.8);
  padding: 10px;
  color: white;
  margin: -24px 40px 16px -50px;
}

div.weather-card img {
  display: none;
}

@media (max-width: 750px) {
  .data-card,
  .weather-card {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 10px 0;
    box-shadow: none;
  }

  .data-card {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }

  .card-header {
    background-color: white;
    color: black;
    text-align: center;
    margin: 0;
  }

  .icon::before {
    content: none;
  }

  table {
    margin: auto;
  }

  div.weather-card img {
    max-width: 150px;
    display: block;
    margin: auto;
  }
}

footer {
  background-color: var(--ph-blue);
  color: white;
  text-align: center;
  padding: 20px;
}
